# Ignore Python cache
__pycache__/
*.py[cod]
*$py.class

# Ignore environment variables
.env
.env.*

# Ignore OS metadata
.DS_Store
Thumbs.db

# Flask Instance folder (contains SQLite DB)
instance/
*.sqlite
*.sqlite3
*.db

# Virtual environments
venv/
env/
.venv/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/
